@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.custom-dot-list-style li button {
  width: 0.75rem;
  height: 0.75rem;
  background: linear-gradient(135deg, #0d377a, #8b8a8b); /* blue → purple */
  border-radius: 9999px;
  transition: all 0.3s ease;
  margin: 0 0.25rem;
  border: none;
  opacity: 0.6;
}

.custom-dot-list-style li button:hover {
  opacity: 0.9;
  transform: scale(1.1);
}

.custom-dot-list-style li.react-multi-carousel-dot--active button {
  background: linear-gradient(to right, #22d3ee, #1e40af); /* cyan-400 → blue-800 */
  opacity: 1;
}

.react-multiple-carousel__arrow {
  background: linear-gradient(to right, #22d3ee, #1e40af)!important;
  opacity: 0.6 !important;
}

.react-multiple-carousel__arrow:hover {
  opacity: 1!important;
}
